[client]
default-character-set=utf8mb4
 
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character_set_system = utf8mb4
skip-character-set-client-handshake = true
default-storage-engine=INNODB
character-set-server=utf8mb4

[mysql]
default-character-set = utf8mb4

# 查看服务是否启动
# 还可以这么查看，MySQL服务器是否启动
# ps -ef | grep mysqld

# 查看服务运行的状态
# service mysqld status

# 启动 /etc/init.d/mysql start 
# 停止 /etc/init.d/mysql stop 
# 重启 /etc/init.d/mysql restart 

# SHOW VARIABLES WHERE Variable_name LIKE 'character_set_%' OR Variable_name LIKE 'collation%'; 
